body {
    padding-top: 1px;
    background: #111111;
    color: #8a8a8a;
}

.hero-section {
    margin: 100px auto;
}

h1, h2, h3, h4, h5, h6 {
    color: #ebebeb;
}

h1 {
    font-size: 6em;
    margin-bottom: 15px;
    font-weight: 700;
}

.hero-section p {
    font-size: 1.50em;
}

::selection {
    background: #ffa;
    color: black;
}

.mark {
    text-transform: uppercase;
    background-color: #40069c;
    color: white;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 10px;
    position: relative;
    top: -2px;
    margin-right: 5px;
    border-radius: 5px;
}

.mark-white {
    color: #ebebeb;
}

.tldr a {
    color: #ebebeb;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
}

.tldr a:hover {
    color: white;
}

.hire-me {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #40069c;
    color: white;
    text-align: center;
    font-size: 1.40em;
    margin-bottom: 25px;
    padding: 5px 10px;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}

.hire-me:hover {
    text-decoration: none;
    color: white;
    background: #1c009c;
}

.social-icons {
    margin-top: 30px;
}