body {
    padding-top: 1px;
    background: #111111;
    color: #8a8a8a;
}

.hero-section {
    margin: 100px auto;
}

h1, h2, h3, h4, h5, h6 {
    color: #ebebeb;
}

h1 {
    font-size: 6em;
    margin-bottom: 15px;
    font-weight: 700;
}

.hero-section p {
    font-size: 1.50em;
}

::selection {
    background: #ffa;
    color: black;
}

.mark {
    text-transform: uppercase;
    background-color: #40069c;
    color: white;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 10px;
    position: relative;
    top: -2px;
    margin-right: 5px;
    border-radius: 5px;
}

.mark-white {
    color: #ebebeb;
}

.tldr a {
    color: #ebebeb;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
}

.tldr a:hover {
    color: white;
}